<button type="button" (click)="createNewProduct()">CREATE</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showDetails)="onShowDetails($event)"
  ></app-product>
</div>
<div class="product-detail" *ngIf="productChosen" [class.active]="showProductDetail">
  <button type="button" (click)="toggleProductDetail()">Close</button>
  <h1>{{productChosen.title}}</h1>
  <p>{{productChosen.description}}</p>
  <swiper class="my-swiper">
    <ng-template swiperSlide class="my-swiper-slide" *ngFor="let image of productChosen.images; index as i">
      <img class="my-swiper-slide-image" [src]="image" alt="{{productChosen.title + ' image #' + i}}">
    </ng-template>
  </swiper>
</div>
